<!DOCTYPE html>
<html>
    <head>
        <title>CSV Upload</title>
        <!-- css styling -->
        <style type = "text/css">
            .table {margin-left: 30px; margin-top: 20px; border-collapse: collapse;}
            .heading {font-weight: bolder;}
            th, td {border: 1px solid black; text-align: center; width: 100px; padding: 3px;}
        </style>
    </head>

    <body>
        <button
            onclick="window.location.href='/'"
            style="width:80px; height: 30px;"
        >
            &lt; Back
        </button>

        <!-- Flash message -->
        {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
        {% endwith %}

        <!-- Table elements -->
        <table class="table">
            <!--table heading -->
            <thead>
            <tr class="heading">
            {% for field in field_names %}
                <th> {{ field }} </th>
            {% endfor %}
            </tr>
            </thead>
            <!--table body -->
            <tbody>
            {% for row in output_data %}
                <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>